.hedercol{
    background-color: black;
  }
  .heropage{
    height:235px;
    width: 100%;
    background-color: #EFF7FF;
    // background-repeat: no-repeat;
    position: relative; 
  }
  .form-select{
      border: none;
      font-size: 18px;
  }
  #header{
    align-content: center;
    text-transform: uppercase;
    text-decoration: solid;
    color:red;
    font-weight:bold;
    font-style: normal;  
}