<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title class="hedercol" >
      <center>
          <img src="/assets/logo2.png" height="80px"  >
      </center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="heropage">
        <div>
          <center>
           <img src="/assets/bg.png" height="230px"></center>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h2 id="header">Best Services For Ever at Best Price</h2>
        <ion-row class="">
        <ion-col size="6">
          <div class="card">
            <center><img src="/assets/cooling.png" height="100px" width="100px" color="danger">
            <p>Air Contion</p>
            <ion-button size="" color="danger" expand="block" fill="outline" class="btn" type="submit" routerLink="/scheduale" 
                 >Book Now</ion-button>
          </center>
          </div>
        </ion-col>
        <ion-col size="6">
          <div class="card">
            <center><img src="/assets/heater.png" height="100px" width="100px">
              <p>Heater</p>
              <ion-button size="" color="danger" expand="block" fill="outline" class="btn" type="submit" routerLink="/scheduale" 
              >Book Now</ion-button></center>  
          </div>
        </ion-col>
      </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
      <ion-toolbar>
        <ion-title>
          <ion-button size="" color="danger" expand="block" fill="outline" class="btn" type="submit" routerLink="/scheduale" 
                 >Schedeuale Book</ion-button>
        </ion-title>
      </ion-toolbar>
</ion-footer>

